<div class="card">
  <a href="https://www.w3schools.com/html/default.asp" target="_blank" class="card-header card-header-rose">
    <h2 class="card-title">
      DOM (Document Object Model)
    </h2>
  </a>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h4 class="h4 card-title">
          <span class="tag">!DOCTYPE html</span>
        </h4>
        <p>
          Цей рядок допоможе браузеру визначити, як правильно інтерпретувати даний документ
        </p>
        <h4 class="h4 card-title">
          <span class="tag">html</span>
        </h4>
        <p>
          визначає початок і кінець документу
        </p>
        <h4 class="h4 card-title">
          <span class="tag">head</span>
        </h4>
        <p>містить "технічну" інформацію про документ, наприклад формат кодування meta або title який визначає ім'я
          всього документа, яке відображається в заголовку вікна браузера</p>
        <h4 class="h4 card-title">
          <span class="tag">body</span>
        </h4>
        <p>В тілі документу знаходиться все те, що відображається на сторінці: текст, картинки, таблиці. Тобто
          більшість ваших HTML-експериментів буде відбуватись в просторі між тегами body</p>
      </div>
      <div class="col-md-6">
        <img src="assets/img/IOT/dom.png" alt="">
        <!--<script src="https://gist.github.com/babysgotatemper/0ce3aaf9b8c65a2f8fb27f75d00e4cf1.js"></script>-->
      </div>
    </div>
  </div>
</div>
