<section>
  <div>
    <h3>Hello world</h3>
    <p>Для того щоб створити web-сторінку достатньо зберегти текстовий документ (.txt) у форматі (.html) і відкрити його у браузері</p>
    <img src="assets/img/hello-world.jpeg" alt="">
  </div>
</section>

<section>
  <div>
    <h3><a href="https://www.w3schools.com/html/default.asp" target="_blank">DOM (Document Object Model)</a></h3>
    <tag name="!DOCTYPE html" inline="true"></tag>
    <p>
      Цей рядок допоможе браузеру визначити, як правильно інтерпретувати даний документ
    </p>
    <hr>
    <tag name="html"></tag>
    <p>
      визначає початок і кінець документу
    </p>
    <hr>
    <tag name="head"></tag>
    <p>
      містить "технічну" інформацію про документ, наприклад формат кодування meta або title який визначає ім'я
      всього документа, яке відображається в заголовку вікна браузера
    </p>
    <hr>
    <tag name="body"></tag>
    <p>
      В тілі документу знаходиться все те, що відображається на сторінці: текст, картинки, таблиці. Тобто
      більшість ваших HTML-експериментів буде відбуватись в просторі між тегами body
    </p>
  </div>
</section>

<section>
  <div>
    <h3><a href="https://gist.github.com/babysgotatemper/11a0b09d802d9efd9c36318a09f8d3c5" target="_blank">Html базова структура</a></h3>
    <img src="assets/img/html-base.png" alt="">
  </div>
</section>
