<nav class="navbar navbar-color-on-scroll bg-dark fixed-top navbar-expand-lg"  color-on-scroll="100">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" routerLink="/">
        RS
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="navbarDropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">apps</i>
            courses
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/courses">
              Courses main
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/courses/html">
              <i class="fa fa-html5"></i> &nbsp;
              HTML
            </a>
            <a class="dropdown-item" routerLink="/courses/css">
              <i class="fa fa-css3"></i> &nbsp;
              CSS
            </a>
            <a class="dropdown-item" routerLink="/courses/js">
              <i class="fa fa-terminal"></i>
              JS
            </a>
            <a class="dropdown-item" routerLink="/courses/git">
              <i class="fa fa-git-square"></i> &nbsp;
              GIT
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               target="_blank"
               href="https://drive.google.com/drive/folders/0B0d7_z1X4qoDaU0wbG53WGRjdlE?usp=sharing">
              GDrive
            </a>
            <a class="dropdown-item"
               target="_blank"
               href="https://drive.google.com/drive/folders/0B0d7_z1X4qoDVEFkOUd6WlVwa0k?usp=sharing">
              HWork1
            </a>
            <a class="dropdown-item"
               target="_blank"
               href="https://drive.google.com/drive/folders/0B0d7_z1X4qoDUEdsUlNJVkRwa1E?usp=sharing">
              HWork2
            </a>
            <a class="dropdown-item"
               target="_blank"
               href="https://drive.google.com/drive/folders/0B0d7_z1X4qoDNl9PWVdoV3ZYR2c?usp=sharing">
              HWork3
            </a>
          </div>
        </li>
      </ul>
<!--      <form class="form-inline ml-auto">
        <div class="form-group no-border">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-white btn-just-icon btn-round">
          <i class="material-icons">search</i>
        </button>
      </form>-->
    </div>

    <!--    <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="material-icons">apps</i> Templatejj
              </a>
            </li>
          </ul>
        </div>-->
  </div>
</nav>

