<section>
  <div>
    <h3>Коментарі</h3>
    <h4>Часто в тілі коду використовуються коментарі - це інформація для розробника веб-сторінки, яка розміщується в вихідному коді, але не відображається на самій сторінці.</h4>
    <h4>в них зазвичай залишають коротку інформацію до якоїсь частини коду, для того щоб в майбутньому ви чи той хто буде працювати з вашим кодим міг швидше в ньому розібратись</h4>
    <ul class="list">
      <li><p class="code tag">!-- коментар багаторядковий (html)--</p></li>
      <li><p class="code">*коментар багаторядковий (CSS JS)*/</p></li>
      <li><p class="code">// рядковий коментар  (CSS JS)</p></li>
    </ul>
  </div>
</section>
