<section>
  <div>
    <h3>Резинова верстка</h3>
    <ul class="list">
      <li>% for width</li>
      <li>vh vw use viewport units</li>
      <li>min/max-width  min/max-height</li>
      <li>...</li>
    </ul>
  </div>
</section>
<section>
  <div>
    <h3>Адаптивна верстка <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries" target="_blank">media queries</a></h3>
    <ul class="list">
      <li>
        <p>Пропорційне відображення сторінки на мобільних пристроях</p>
        <tag name="meta" [attr]="['name', 'content', 'initial-scale']"></tag>
      </li>
      <li>
        <span class="code">@media (min-width: 700px) &#123; ... &#125;</span>
      </li>
      <li>
        <span class="code">@media (min-width: 700px) and (orientation: landscape) &#123; ... &#125;</span>
      </li>
    </ul>
  </div>
</section>
<section>
  <div>
    <h3>Tools</h3>
    <img src="assets/img/css/webinspector.png" style="max-width: 500px; width: 100%; text-align: center" alt="">
    <br> <br>
    <img src="assets/img/css/websizer.png" style="max-width: 500px; width: 100%; text-align: center" alt="">
  </div>
</section>
