<section>
  <div>
    <h3>
      Онулення стилів
    </h3>
    <h4>
      За допомогою селектора *
    </h4>
    <blockquote class="blockquote">
      <code>
        * &#x7b;<br>
        &nbsp;margin: 0;<br>
        &nbsp;padding: 0;<br>
        &#x7d;
      </code>
    </blockquote>
    <ul class="list">
      <li><strong>переваги:</strong> простота, скорочення коду CSS,</li>
      <li><strong>недоліки:</strong> не охоплює всі можливі властивості, які потрібно скинути</li>
    </ul>
  </div>
</section>
<section>
  <div>
    <h3>
      За допомогою таблиць готових стилів
    </h3>
    <ul class="list">
      <li>
        <a href="https://meyerweb.com/eric/tools/css/reset/reset.css" target="_blank" class="link">
          reset.css
        </a>
      </li>
      <li>
        <a href="https://necolas.github.io/normalize.css/8.0.0/normalize.css" target="_blank" class="link">
          normalize.css
        </a>
      </li>
    </ul>
    <p>
      прописуються перед основними стилями
    </p>
  </div>
</section>
