<section>
  <div>
    <h3>
      Способи підключення на сторінку
    </h3>
    <ol class="list">
      <li>Внутрішні таблиці стилів. При цьому стилі задаються за допомогою атрибуту style в середині HTML елементу
      </li>
      <li>Вбудовані таблиці. Його ми вже розглянули. При цьому способі таблиця стилів вбудовується в заголовок
        html-сторінки. через тег <tag name="style">...</tag></li>
      <li>Підключення зовнішнього файлу стилів. Це відбувається за допомогою тегу link в заголовку сторінки з
        атрибутами rel який вказує на тип файлу що підключається і href що вказує на шлях до файлу стилів
      </li>
    </ol>
  </div>
</section>
<section>
  <div>
    <h3>
      Селектори
    </h3>
    <ul class="list">
      <li><kbd>* &#123;...&#125;</kbd>
        <br>вибір всіх елементів на сторінці (обнулення)
      </li>
      <li><kbd>тег &#123;...&#125;</kbd><var>селектор тегів</var>
        <br>Вибір всіх тегів даного виду на сторінці
      </li>
      <li><kbd>#назва &#123;...&#125;</kbd><var>селектор id ‘айді’</var>
        <br>Вибір єдиного елемента на сторінці в якого id=”назва”
      </li>
      <li><kbd>.назва &#123;...&#125;</kbd><var>селектор класів</var>
        <br>Вибір всіх елементів на сторінці в яких class=”назва”
      </li>
      <li><kbd>[атрибут=значення] &#123;...&#125;</kbd><var>селектор атрибутів</var>
        <br>Вибір всіх елементів на сторінці в яких атрибут=”значення”
      </li>
    </ul>
  </div>
</section>
<section>
  <div>
    <h3>Комбінований селектор або селектор відношення</h3>
    <ul class="list">
      <li><kbd>div p</kbd>-елементи p , що є нащадками div (знаходяться всередині блоку div).</li>
      <li><kbd>div,p</kbd>-всі div і всі p елементи.</li>
      <li><kbd>div,p</kbd>-всі div і всі p елементи.</li>
      <li><kbd>div,p</kbd>-всі div і всі p елементи.</li>
      <li><kbd>div>p</kbd>-тільки безпосередні нащадки</li>
      <li></li>
      <li><kbd>div ~ p</kbd>всі p на тому ж рівні вкладеності, які йдуть після div</li>
      <li><kbd>div + p</kbd>перший p на тому ж рівні вкладеності, який йде відразу після div (якщо є)</li>
    </ul>
  </div>
</section>
