
<section>
  <div>
    <h3>
      Кольори в верстці
    </h3>
    <p>
      Способи задання кольору
    </p>
    <ol>
      <li>за назвою (black, white...)</li>
      <li>шістнадцятковому форматі (#000000, #ffffff)</li>
      <li>в RGB форматі (rgb(0, 0, 0), rgba(255, 255, 255, 0.5))</li>
    </ol>
    <br>
    <h4>
      1) За назвою:
    </h4>
    <img src="assets/img/css/color-name.png" alt="">
    <br>
    <h4>
      2) У шістнадцятковому форматі (HEX):
    </h4>
    <img src="assets/img/css/color-hex.png" alt="">
    <br>
    <h4>
      3) В RGB форматі :
    </h4>
    <img src="assets/img/css/color-rgb.png" alt="">
    <br>
    <h4>
      Загальне представлення
    </h4>
    <img src="assets/img/css/color-all.png" alt="">
  </div>
</section>
