<section>
  <div>
    <h3><a href="https://www.w3.org/" target="_blank">W3C</a> world wide web consortium</h3>
    <ul class="list">
      <li>Валідація - перевірка відповідності чогось певним критеріям, правилам, вимогам.</li>
      <li>HTML - це програмна мова, зі своїм синтаксисом і граматикою. </li>
      <li><a href="https://validator.w3.org/" target="_blank">Валідація HTML</a> - перевірка на відповідність цим правилам написаного коду.</li>
    </ul>
  </div>
</section>

<section>
  <div>
    <h3>
