<section>
  <div>
    <h3>
      HTML5 <a href="http://html5doctor.com/ " target="_blank">http://html5doctor.com/ </a> <br>
      HTML4 page
    </h3>
    <kbd>DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
      "http://www.w3.org/TR/html4/strict.dtd</kbd>
    <hr>
    <kbd>link rel="stylesheet" type="text/css" href="theme.css"</kbd>
    <hr>
    <kbd>script type="text/javascript"</kbd>
    <hr>
    <img src="assets/img/css/html4.png" alt="">
  </div>
</section>
<section>
  <div>
    <h3>HTML5 page</h3>
    <kbd>!doctype html</kbd>
    <hr>
    <kbd>
      meta name="viewport" content="width=device-width, initial-scale=1.0"
    </kbd>
    <hr>
    <kbd>link rel="stylesheet" href="theme.css"</kbd>
    <hr>
    <kbd>script</kbd>
    <hr>
    <img src="assets/img/css/html5.png" alt="">
  </div>
</section>
<section>
  <div>
    <h3>DIV розширили семантичними тегами</h3>
    <ul class="list">
      <li><span class="tag">section</span></li>
      <li><span class="tag">header</span></li>
      <li><span class="tag">footer</span></li>
      <li><span class="tag">aside</span></li>
      <li><span class="tag">nav</span></li>
      <li><span class="tag">article</span></li>
      <li><span class="tag">main</span></li>
      <li><span class="tag">figure/figurcaption</span></li>
    </ul>
  </div>
</section>
<section>
  <div>
    <h3>Нові атрибути для input/form</h3>
    <ul class="list">
      <li>placeholder <input type="text" placeholder="placeholder"></li>
      <li>autofocus <button autofocus>autofocus</button></li>
      <li>autocomplete <input type="email" name="email" autocomplete></li>
      <li>required</li>
      <li>pattern</li>
      <li>list</li>
      <li>multiple</li>
      <li>novalidate</li>
      <li>formnovalidate</li>
      <li>form</li>
      <li>formaction</li>
      <li>formenctype</li>
      <li>formmethod</li>
      <li>formtarget</li>
    </ul>
  </div>
</section>
<section>
  <div>
    <h3>
      Відмова від Flash
    </h3>
    <ul class="list">
      <li>
        <kbd>audio</kbd>
        <br>
        <audio controls>
          <source src="assets/img/css/horse.ogg" type="audio/ogg">
          Your browser does not support the audio tag.
        </audio>
      </li>
      <li>
        <a href="https://www.w3schools.com/tags/tag_video.asp" target="_blank">
          <kbd>video</kbd>
        </a>
        <br>
        <video width="320" height="240" controls>
          <source src="assets/img/css/movie.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </li>
      <li>
        <a href="https://www.w3schools.com/html/html5_canvas.asp" target="_blank">
          <kbd>canvas</kbd>
        </a>
      </li>
    </ul>

  </div>
</section>

<section>
  <div>
    <h3>
      CSS3
    </h3>
    <ul class="list">
      <li>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius" target="_blank">
          <kbd>border-radius</kbd>
        </a>
        - Заокруглення рамок
      </li>
      <li>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow" target="_blank">
          <kbd>text-shadow</kbd>
        </a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow" target="_blank">
          <kbd>box-shadow</kbd>
        </a>
        - Тінь
      </li>
      <li>
        <a>
          <kbd>rgba(0,0,0,0.5)</kbd>
        </a>
        - RGBA coloring
      </li>
      <li>
        <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_transitions" target="_blank">
          <kbd>transitions</kbd>
        </a>
        <br>
        <a href="" target="_blank">
          <kbd>transforms</kbd>
        </a>
        - Анімація
      </li>
      <li>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient" target="_blank">
          <kbd>linear-gradient</kbd>
        </a>
        <br>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/radial-gradient" target="_blank">
          <kbd>radial-gradient</kbd>
        </a>
        <br>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/repeating-linear-gradient" target="_blank">
          <kbd>repeating-linear-gradient</kbd>
        </a>
        <br>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/repeating-radial-gradient" target="_blank">
          <kbd>repeating-radial-gradient</kbd>
        </a>
        - Градієнти
      </li>
      <li>
        <a href="https://www.w3schools.com/css/css3_backgrounds.asp" target="_blank">
          <kbd>background: url(img_flwr.gif) right bottom no-repeat, url(paper.gif) left top repeat;</kbd>
        </a>
        - Множинні бекграунди
      </li>
      <li>
        <a href="" target="_blank">
          <kbd>
            @font-face
          </kbd>
        </a>
        - Шрифты
      </li>
    </ul>
  </div>
</section>
