
<section>
  <div>
    <h3>
      CSS позиціонування (position)
    </h3>
    <ul class="list">
      <li><kbd>position:static</kbd>	значення за замовчуванням, означає відсутність позиціонування.Елементи відображаються послідовно один за іншим в тому порядку, в якому вони визначені в html-документі.</li>
      <li><kbd>position:relative</kbd>	дозволяє зміщувати елемент щодо його поточного становища в структурі html-документа вгору, вправо, вниз або вліво (залежить від того, яке встановлено значення: top / right / bottom / left ).</li>
      <li><kbd>position:absolute</kbd>	задається лише для блокових display: block і рядково-блоковихdisplay: inline-block елементів. Положення елемента зміщується щодо батьківського елементу вгору, вправо, вниз або вліво в залежності від того, яке встановлено значення: top / right / bottom / left , при цьому порушується порядок відображення елементів. Елементи, які йдуть за ним, можуть потрапити під нього.</li>
      <li><kbd>position:fixed</kbd>	фіксує елемент в потрібному місці сторінки. При прокручуванні сторінки становище елемента на сторінці не змінюється. Елемент можна змістити вгору, вправо, вниз або вліво в залежності від заданого значення: top / right / bottom / left .</li>
      <li><kbd>z-index:</kbd> імітує 3тій вимір для елементів з position:fixed, absolute, relative. для того щоб визначити який з них буде вижче/нижче при накладанні один на одного</li>
    </ul>
  </div>
</section>
