<div class="page-header header-filter"
     data-parallax="true"
     style="background-image: url('assets/img/IOT/css3.jpg')">
</div>

<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <h2 class="title">CSS3</h2>
      <h4>(англ. Cascading Style Sheets) — спеціальна мова, що використовується для опису сторінок, написаних мовами розмітки даних (HTML).</h4>
    </div>
    <div class="section">
      <blockquote class="blockquote">
        <code>
          селектор 	&#x7b;<br>
          властивість: значення;<br>
          &#x7d;
        </code>
      </blockquote>
    </div>
    <div class="card">
      <div class="card-header card-header-rose">
        <div class="h2 card-title">
          Властивості CSS
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Властивості фону</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">background-color: колір фону елемента</li>
          <li class="list-group-item">background-image: зображення фону елемента</li>
          <li class="list-group-item">background-repeat	: повтор фонового зображення (по замовчуванню стоїть значення повтору, можна зробити без повтору, і повтор по осі Х або У)використовується для паттернів</li>
          <li class="list-group-item">background-position: позиція фонового зображення</li>
          <li class="list-group-item">background-attachment:	вказує прокручувати фонове зображення разом з текстом чи ні</li>
        </ul>
      </div>
      <div class="card-body">
        <h4 class="card-title">Розміри елементів</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">height: висота елемента</li>
          <li class="list-group-item">width: ширина елемента</li>
          <li class="list-group-item"></li>
          <li class="list-group-item">border-style: Стиль всіх рамок елемента</li>
          <li class="list-group-item">border-color: колір рамки</li>
          <li class="list-group-item">border-width: ширина рамки</li>
          <li class="list-group-item">border-(top right left bottom)-властивість: окремі стилі для кожної з сторін</li>
          <li class="list-group-item"></li>
          <li class="list-group-item">padding-(top right left bottom): задає внутрішні відступи від кожної сторони елементу</li>
          <li class="list-group-item">margin-(top right left bottom): задає зовнішні відступи від кожної сторони елементу</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-header card-header-rose">
        <div class="h2 card-title">

        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Here is the Icon</h4>
        The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona...
      </div>
    </div>

    <br><br>
  </div>
</div>
