<section>
  <div>
    <h3>
      <a href="https://stfalcon.com/ru/blog/post/5-best-editors-for-web-developers" target="_blank">Вибір редактору коду</a>
    </h3>
    <ul class="list">
      <li>
        <img src="assets/img/Notepad_plus_plus.png" alt="" style="max-width: 250px">
        <a href="https://notepad-plus-plus.org/" target="_blank">Notepad++</a>
      </li>
      <li>
        <img src="assets/img/sublime-text.png" alt="" style="max-width: 250px">
        <a href="http://www.sublimetext.com/" target="_blank">Sublime text</a>
      </li>
      <li>
        <img src="assets/img/atom.png" alt=""  style="max-width: 250px">
        <a href="https://atom.io/" target="_blank">Atom (github)</a>
      </li>
      <li>
        <img src="assets/img/brackets.png" alt=""  style="max-width: 250px">
        <a href="http://brackets.io/" target="_blank">Brackets (Adobe)</a>
      </li>
    </ul>
  </div>
</section>
