
<section>
  <div>
    <h3>
      Псевдокласи - це селектори, які визначають стан вже існуючих елементів, який може змінюватися за певних умов.
    </h3>
    <ul class="list">
      <li><kbd>селектор:active &#123;...&#125;</kbd> <br>при активації користувачем елементу (клік на посилання).</li>
      <li><kbd>селектор:link &#123;...&#125;</kbd> <br>застосовується до невідвідуваних посилань, на які користувач ще не натискав.</li>
      <li><kbd>селектор:focus &#123;...&#125;</kbd> <br>застосовується до елемента при отриманні ним фокусу (курсор встановлений в полі, і за допомогою клавіатури можна вводити в нього текст )</li>
      <li><kbd>селектор:hover &#123;...&#125;</kbd> <br>активізується коли курсор миші знаходиться в межах елемента але клацання по ньому не відбувається.</li>
      <li><kbd>селектор:visited &#123;...&#125;</kbd> <br>застосовується до відвіданих посилань.</li>
      <li>Псевдокласи що мають відношення до дерева документа</li>
      <li><kbd>селектор:first | last | nth()-child &#123;...&#125;</kbd><br>застосовується до певного дочірнього елементу селектора який розташований в дереві елементів документа.          </li>
    </ul>

  </div>
</section>
<section>
  <div>
    <h3>
      Псевдоелементи - це селектори, які визначають область елементів , яка спочатку відсутня в дереві документа. Ця область створюється штучно за допомогою CSS .
    </h3>
    <ul class="list">
      <li><kbd>селектор : after &#123;...&#125;</kbd> <br>застосовується для вставки призначеного контенту після вмісту елемента. Цей псевдоелемент працює спільно зі стильовим властивістю content , яке визначає вміст для вставки.</li>
      <li><kbd>селектор : before &#123;...&#125;</kbd> <br>аналогічний псевдоелементу : after , але вставляє контент до вмісту елементу.</li>
      <li><kbd>селектор : first-letter &#123;...&#125;</kbd> <br>визначає стиль першого символу в тексті елемента, до якого додається.</li>
    </ul>
  </div>
</section>
