
<section>
  <div>
    <h3>
      Успадкування
    </h3>
    <p>
      Успадкуванням називається перенесення правил форматування для елементів, що знаходяться всередині інших. <br>
      Такі елементи є дочірніми, і вони успадковують деякі стильові властивості своїх батьків, усередині яких розташовуються.
    </p>
    <h4>Властивості які унаслідуються:</h4>
    <ul class="list">
      <li>колір тексту</li>
      <li>шрифт</li>
      <li>міжрядкові інтервали</li>
    </ul>
  </div>
</section>
<section>
  <div>
    <h3>
      Правила підрахунку специфічності
    </h3>
    <h4>
      Специфічність рахується по селектору.
    </h4>
    <ul class="list">
      <li>кожен присутній в селекторі ідентифікатор додає до специфічності <kbd>0,1,0,0</kbd>;</li>
      <li>кожен клас, псевдоклас або атрибут додає до специфічності <kbd>0,0,1,0</kbd>;</li>
      <li>кожен елемент або псевдоелемент додає до специфічності <kbd>0,0,0,1</kbd>;</li>
    </ul>
    <table>
      <tr>
        <td>p</td>
        <td>0,0,0,1</td>
      </tr>
      <tr>
        <td>div p</td>
        <td>0,0,0,2</td>
      </tr>
      <tr>
        <td>p.note</td>
        <td>0,0,1,1</td>
      </tr>
      <tr>
        <td>form.feedbackForm input [type = "text" ]</td>
        <td>0,0,2,2</td>
      </tr>
      <tr>
        <td>#conten a: hover</td>
        <td>0,1,1,1</td>
      </tr>
    </table>
  </div>
</section>
