<section>
  <div>
    <h3>Оптимізація коду</h3>
    <ul class="list">
      <li>валідація коду <a href="https://validator.w3.org/" target="_blank">w3c</a></li>
      <li>окремий файл з бібліотеками і власним кодом</li>
      <li>мінімізація файлів</li>
      <li>1-2 кастомних шрифтів</li>
      <li>перевірка
        <ul class="list">
          <li>
            <a href="https://developers.google.com/speed/pagespeed/insights/ " target="_blank">pagespeed</a>
          </li>
          <li>
            <a href="https://www.webpagetest.org/" target="_blank">webpagetest</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<section>
  <div>
    <h3>
      Оптимізація зображень
    </h3>
    <ul class="list">
      <li>
        стискання зображень
        <ul class="list">
          <li>
            <a href="https://tinypng.com/" target="_blank">tinypng</a>
          </li>
          <li>
            <a href="http://optimizilla.com/" target="_blank">optimizilla</a>
          </li>
          <li>
            <a href="https://squoosh.app/" target="_blank">squoosh</a>
          </li>
        </ul>
      </li>
      <li>
        спрайти для іконок
      </li>
      <li>
        використання svg і svg шрифтів <a href="http://fontello.com/" target="_blank">fontello</a>
      </li>
      <li>
        для різних екранів
        <ul class="list">
          <li>
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries " target="_blank">media queries</a>
          </li>
          <li>
            атрибут srcset
          </li>
          <li>
            <a href="https://developer.mozilla.org/uk/docs/Web/HTML/Element/picture " target="_blank">
              <tag name="picture"></tag>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://habrahabr.ru/post/150071/" target="_blank">retina</a>
      </li>
    </ul>
  </div>
</section>
