<div class="page-header header-filter"
     data-parallax="true"
     style="background-image: url('assets/img/IOT/HTML5MainM.jpg')">
</div>

<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <h2 class="title">HTML</h2>
      <h4>
        (англ. HyperText Markup Language) стандартна мова розмітки веб-сторінок в Інтернеті
      </h4>
    </div>
    <!---->
    <div class="card">
      <a href="https://www.w3schools.com/html/default.asp" target="_blank" class="card-header card-header-rose">
        <h2 class="card-title">
          DOM (Document Object Model)
        </h2>
      </a>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h4 class="h4 card-title">
              <span class="tag">!DOCTYPE html</span>
            </h4>
            <p>
              Цей рядок допоможе браузеру визначити, як правильно інтерпретувати даний документ
            </p>
            <h4 class="h4 card-title">
              <span class="tag">html</span>
            </h4>
            <p>
              визначає початок і кінець документу
            </p>
            <h4 class="h4 card-title">
              <span class="tag">head</span>
            </h4>
            <p>містить "технічну" інформацію про документ, наприклад формат кодування meta або title який визначає ім'я всього документа, яке відображається в заголовку вікна браузера</p>
            <h4 class="h4 card-title">
              <span class="tag">body</span>
            </h4>
            <p>В тілі документу знаходиться все те, що відображається на сторінці: текст, картинки, таблиці. Тобто більшість ваших HTML-експериментів буде відбуватись в просторі між тегами body</p>
          </div>
          <div class="col-md-6">
            <img src="assets/img/IOT/dom.png" alt="">
            <!--<script src="https://gist.github.com/babysgotatemper/0ce3aaf9b8c65a2f8fb27f75d00e4cf1.js"></script>-->
          </div>
        </div>
      </div>
    </div>
    <!---->
    <br>
    <div class="card">
      <div class="card-header card-header-rose">
        <h2 class="card-title">
          Tag (елемент мови розмітки HTML)
        </h2>
      </div>

      <div class="card-body">
        <blockquote class="blockquote">
          Теги не чутливі до регістру <span class="tag">BR</span> <span class="tag">Br</span> <span class="tag">br</span>
        </blockquote>

        <blockquote class="blockquote">
          Якщо який-небудь тег або його атрибут був написаний невірно, то браузер проігнорує подібний тег і буде відображати текст так, немов тега і не було.
        </blockquote>

        <blockquote class="blockquote">Щоб розширити можливості окремих тегів і більш гнучко управляти вмістом контейнерів застосовуються атрибути тегів.
          <span class="tag">a href=""</span>
        </blockquote>
      </div>

      <div class="card-body">
        <h4 class="card-title text-center">Типи тегів</h4>
        <div class="row">
          <div class="card col-md-6">
            <div class="card-body">
              <h4 class="card-title text-center">Одинарні</h4>
              <div class="card-text">
                <p><span class="tag">img src="" alt=""</span></p>
                <p><span class="tag">br</span></p>
                <p><span class="tag">hr</span></p>
              </div>
            </div>
          </div>
          <div class="card col-md-6">
            <div class="card-body">
              <h4 class="card-title text-center">Парні</h4>
              <div class="card-text">
                <p><span class="tag">div</span>...<span class="tag">/div</span></p>
                <p><span class="tag">p</span>...<span class="tag">/p</span></p>
                <p><span class="tag">h1..6</span>...<span class="tag">/h1..6</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <h4 class="card-title text-center">Типи тегів (за призначенням)</h4>
        <blockquote class="blockquote">
          Теги верхнього рівня (Ці теги призначені для формування структури веб-сторінки і визначають розділ заголовка і тіла документа.
          <br>
          <span class="tag">html</span>
          <span class="tag">head</span>
          <span class="tag">body</span>
        </blockquote>
        <blockquote class="blockquote">
          Теги заголовку документу
          <br>
          <span class="tag">title</span>
          <span class="tag">meta</span>
          <span class="tag">link</span>
        </blockquote>

        <blockquote class="blockquote">
          Теги елементу
          <br>
          <span class="tag">body</span>
        </blockquote>
      </div>
    </div>
  </div>
  <br><br>
</div>
