<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="over" class="pageNav" opened>
    <nav>
      <a *ngFor="let item of pages"
         class="pageNav-link"
         routerLinkActive="pageNav-link--active"
         [routerLink]="item.link">
        {{item.title}}
      </a>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <button class="pageNav-toggle btn btn-primary btn-fab btn-fab-mini btn-round"
            (click)="drawer.toggle()">
      <i class="material-icons">
        compare_arrows
      </i>
    </button>
    <div class="page-header header-filter"
     data-parallax="true"
     style="background-image: url('assets/img/IOT/HTML5MainM.jpg')">
    </div>

    <div class="main main-raised">
      <div class="container">
        <div class="section text-center">
          <h2 class="title">HTML</h2>
          <h4>
            (англ. HyperText Markup Language) стандартна мова розмітки веб-сторінок в Інтернеті
          </h4>
        </div>
        <router-outlet></router-outlet>
      </div>
      <br><br>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
