<footer class="footer footer-default" >
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://demos.creative-tim.com/material-kit/index.html" target="_blank">
            Design kit
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>made with <i class="material-icons">favorite</i> for a better web.
    </div>
  </div>
</footer>
