<footer class="footer footer-default" >
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://www.facebook.com/roman.semak?ref=bookmarks" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>made with <i class="material-icons">favorite</i> for a better web.
    </div>
  </div>
</footer>
