<section>
  <div>
    <h3>WEB-inspector</h3>
    <h4>Для розробки та налагодження локальних і віддалених веб-сторінок використовують Веб-інспектор. Він дозволяє переглядати веб-сторінки, використовуючи об'єктну модель документів, і виділяти на них елементи.</h4>

    <ul class="list">
      <li class="list-title">Щоб відкрити Веб-інспектор, виконайте наступні дії:</li>
      <li>Клацніть правою кнопкою миші по елементу сторінки, потім в контекстному меню виберіть "Перевірити елемент".</li>
      <li>F12</li>
    </ul>
