<section>
  <div>
    <h3>WEB-inspector</h3>
    <h4>Для розробки та налагодження локальних і віддалених веб-сторінок використовують Веб-інспектор. Він дозволяє переглядати веб-сторінки, використовуючи об'єктну модель документів, і виділяти на них елементи.</h4>

    <ul class="list">
      <li class="list-title">Щоб відкрити Веб-інспектор, виконайте наступні дії:</li>
      <li>Клацніть правою кнопкою миші по елементу сторінки, потім в контекстному меню виберіть "Перевірити елемент".</li>
      <li>F12</li>
    </ul>
    <p>За допомогою веб інспектора ви можете здійснити покрокову перевірку коду JavaScript і швидко переглянути зміни
      стилів CSS.</p>
  </div>
</section>

<section>
  <div>
    <h3>Interface</h3>
    <ul class="list">
      <li>кнопка вибору елемента  - дає докладну інформацію про елемент.</li>
      <li>кнопка вибору пристрою на якому буде відображатись сторінка</li>
      <li>панель HTML в якій відображається структура сторінки</li>
      <li>панель CSS зі всіма стилями вибраного вами елементу та його блочна модель. (нею зручно відслідковувати чому він відображається не так як ви це прописали)</li>
      <li>консоль для відладки коду JS</li>
    </ul>
    <img src="assets/img/inspector.png" alt="">
  </div>
</section>
