<div class="profile-page">
  <div class="page-header" data-parallax="true"
       style="background-image: url('assets/img/poly.jpg')">
  <!--  <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Home Page</h1>
            <h2 >front-end</h2>
            <h3><a href="https://t.me/joinchat/EWpmQhJXurOpYX5LJaGV-w" target="_blank">Telegram chat</a></h3>
            <h3><a href="https://drive.google.com/drive/folders/0B0d7_z1X4qoDaU0wbG53WGRjdlE" target="_blank">Google drive</a></h3>
            <h3><a href="https://www.facebook.com/roman.semak" target="_blank">Face Book</a></h3>
          </div>
        </div>
      </div>
    </div>-->
  </div>

  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="../assets/img/rs.jpg" alt="Circle Image" class="img-raised rounded img-fluid">
              </div>
              <div class="name">
                <h3 class="title">Roman Semak</h3>
                <h6>Fron-end developer</h6>
                <a href="https://www.facebook.com/roman.semak" target="_blank"
                   class="btn btn-just-icon btn-link">
                  <i class="fa fa-facebook-official"></i>
                </a>
                <a href="mailto:semak.roman@gmail.com" class="btn btn-just-icon btn-link">
                  <i class="fa fa-at"></i>
                </a>
                <a href="https://www.linkedin.com/in/roman-semak-5b2352a1/" target="_blank"
                   class="btn btn-just-icon btn-link">
                  <i class="fa fa-linkedin-square"></i>
                </a>
                <a href="https://github.com/babysgotatemper" target="_blank"
                   class="btn btn-just-icon btn-link">
                  <i class="fa fa-github-square"></i>
                </a>
<!--                <a href="#pablo" class="btn btn-just-icon btn-link" matTooltip="babysgotaneviltemper">
                  <i class="fa fa fa-skype"></i>
                </a>-->
                <a href="https://telegram.me/babysgotatemper" target="_blank"
                   class="btn btn-just-icon btn-link">
                  <i class="fa fa-telegram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto at, consequuntur deleniti dolor eaque earum est, facere illum ipsam magni minima minus molestias nihil nobis quae rem tenetur ullam.
          </p>
        </div>
<!--        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                    <i class="material-icons">camera</i> Studio
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                    <i class="material-icons">palette</i> Work
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                    <i class="material-icons">favorite</i> Favorite
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content tab-space">
          <div class="tab-pane active text-center gallery" id="studio">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="../assets/img/examples/studio-1.jpg" class="rounded">
                <img src="../assets/img/examples/studio-2.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="../assets/img/examples/studio-5.jpg" class="rounded">
                <img src="../assets/img/examples/studio-4.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="works">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
                <img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="../assets/img/examples/cynthia-del-rio.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="../assets/img/examples/clem-onojegaw.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="favorite">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="../assets/img/examples/studio-3.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
                <img src="../assets/img/examples/studio-1.jpg" class="rounded">
              </div>
            </div>
          </div>
        </div>-->
        <br><br>
      </div>
    </div>
  </div>
</div>

