<div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bg.png')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1>Home Page</h1>
          <h2 >front-end</h2>
          <h3><a href="https://t.me/joinchat/EWpmQhJXurOpYX5LJaGV-w" target="_blank">Telegram chat</a></h3>
          <h3><a href="https://drive.google.com/drive/folders/0B0d7_z1X4qoDaU0wbG53WGRjdlE" target="_blank">Google drive</a></h3>
          <h3><a href="https://www.facebook.com/roman.semak" target="_blank">Face Book</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>
