<div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bg.png')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1>Semak Roman</h1>
          <h3 class="title text-center">front-end developer</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <h2 class="title">Your main section here</h2>

      <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <h4 class="card-title">WEB 3.0 IOT</h4>
          <p class="category">WEB</p>
        </div>
        <div class="card-body">
          <h4 class="card-title">Here is the Icon</h4>
          The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona...
        </div>
      </div>

      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Front-end vs Back-end
          </h4>
          <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
          <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        </div>
        <img class="card-img-bottom" src="/assets/img/IOT/frontvsback.webp" alt="Card image cap">
      </div>
    </div>
  </div>
</div>
