<section>
  <div>
    <h3><a href="https://www.w3schools.com/charsets/ref_utf_symbols.asp" target="_blank">Cпецсимволи</a> ☭ ☘ ☠ ♻</h3>
    <h3><span class="code">€</span>=<span class="code">	&amp;euro;</span>=<span class="code">&amp;#8364;</span></h3>
    <h4>Для відображення символів, яких немає на клавіатурі, застосовуються спеціальні знаки, що починаються з (&) і закінчуються (;).</h4>
    <p>
      Їх є дуже велика кількість тому вони не обовязкові для запам’ятовування.
      На відмінно від тегів Спецсимволи чутливі до регістру, тому їх необхідно прописувати точно так, як вказано в таблиці.
    </p>
    <p>
      Спецсимвол успадковує колір та розмір від батьківського елемента.
    </p>
  </div>
</section>
