<section>
  <div>
    <h2><a href="https://ru.bem.info/methodology/key-concepts/" target="_blank">BEM</a></h2>
    <h3>block-element__modificator</h3>
    <img src="https://ru.bem.info/kFetIbKxQdABHhUecbic45Il0Bg.png" alt="">
  </div>
</section>

<section>
  <div>
    <h3>Препроцесори</h3>
    <ul class="list">
      <li><a href="http://lesscss.org/" target="_blank">LESS</a></li>
      <li><a href="http://sass-lang.com/install" target="_blank">SASS</a></li>
      <li><a href="http://stylus-lang.com/" target="_blank">STYLUS</a></li>
    </ul>
  </div>
</section>

<section>
  <div>
    <h3>
      Інструменти для роботи з макетом
    </h3>
    <ul class="list">
      <li><a href="https://www.adobe.com/ua/products/photoshop/free-trial-download.html" target="_blank">Adobe Photoshop</a></li>
      <li><a href="https://adobe.ly/2AHmAWq" target="_blank">Adobe Creative Cloud (web)</a></li>
      <li><a href="https://zeplin.io/" target="_blank">Zeplin.io (web)</a></li>
    </ul>
  </div>
</section>


