<div class="page-header header-filter" data-parallax="true"
     style="background-image: url('assets/img/bg.png')">
</div>


<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <h2>Hello!</h2>
      <h3>Welcome to my Front-end course</h3>
      <h3>
        <a href="https://t.me/joinchat/EWpmQhJXurOpYX5LJaGV-w" target="_blank">Telegram chat</a>
      </h3>
      <h3>
        <a routerLink="/courses/html">
          <i class="fa fa fa-html5"></i> &nbsp;
          HTML
        </a>
      </h3>
      <h3>
        <a routerLink="/courses/css">
          <i class="fa fa fa-css3"></i> &nbsp;
          CSS
        </a>
      </h3>
      <h3>
        <a routerLink="/courses/js">
          <!--<i class="fa fa fa-css3"></i> &nbsp;-->
          JS
        </a>
      </h3>
    </div>
    <section>
      <div>
        <h3>WEB 3.0 (IOT)</h3>
        <img src="assets/img/iot.png" alt="">
      </div>
    </section>
    <section>
      <div>
        <h3>Front-end vs Back-end</h3>
        <img src="assets/img/fevsbe.jpg" alt="">
      </div>
    </section>
    <section>
      <div>
        <h3>Front-end</h3>
        <div class="flex">
          <ul class="list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JS</li>
          </ul>
          <ul class="list" style="margin-left: 20px;">
            <li>
              HTML + CSS = ВЕРСТКА
            </li>
            <li>JS = ПРОГРАМУВАННЯ</li>
          </ul>
        </div>

        <img src="assets/img/FE.jpeg" alt="">
      </div>
    </section>
    <section>
      <div>
        <h3>Потреба</h3>
        <ul class="list">
          <li>IT-компанії</li>
          <li>Просто компанії</li>
          <li>Люди (фотографи блогери зірки)</li>
          <li>Бізнес</li>
          <li>...</li>
        </ul>
      </div>
    </section>
    <section>
      <div>
        <h3>Freelance vs Fulltime</h3>
        <img src="assets/img/freelance-vs-full-time.jpg" alt="">
      </div>
    </section>
    <section>
      <div>
        <h3>З чим працювати</h3>
        <ul class="list">
          <li>HTML/CSS (jade sass bem)</li>
          <li>JS ( jQuery react angular backbone vui etc)</li>
          <li>Photoshop Scatch Illustrator (layers jpeg png svg sprite)</li>
          <li>Зборщики (gulp grunt bower npm ...)</li>
          <li>DataBase</li>
          <li>...</li>
        </ul>
      </div>
    </section>
    <section>
      <div>
        <h3>Постійне навчання</h3>
        <ul class="list">
          <li>Англійська</li>
          <li>Фреймворки</li>
          <li>Оптимізація</li>
          <li>...</li>
        </ul>
        <img src="assets/img/joke.jpg" alt="">
      </div>
    </section>
  </div>
</div>
