<div class="card">
  <div class="card-header card-header-rose">
    <h2 class="card-title">
      Tag (елемент мови розмітки HTML)
    </h2>
  </div>

  <div class="card-body">
    <blockquote class="blockquote">
      Теги не чутливі до регістру
      <tag name="BR"></tag>
      <tag name="Br"></tag>
      <tag name="br"></tag>
    </blockquote>

    <blockquote class="blockquote">
      Якщо який-небудь тег або його атрибут був написаний невірно, то браузер проігнорує подібний тег і буде
      відображати текст так, немов тега і не було.
    </blockquote>

    <blockquote class="blockquote">Щоб розширити можливості окремих тегів і більш гнучко управляти вмістом
      контейнерів застосовуються атрибути тегів.
      <tag name="a" inline="true" [attr]="['href', 'target']"></tag>
    </blockquote>
  </div>

  <div class="card-body">
    <h4 class="card-title text-center">Типи тегів</h4>
    <div class="row">
      <div class="card col-md-6">
        <div class="card-body">
          <h4 class="card-title text-center">Одинарні</h4>
          <div class="card-text">
            <p><tag name="img" [attr]="['src','alt']"></tag></p>
            <p><tag name="br" ></tag></p>
            <p><tag name="hr"></tag></p>
          </div>
        </div>
      </div>
      <div class="card col-md-6">
        <div class="card-body">
          <h4 class="card-title text-center">Парні</h4>
          <div class="card-text">
            <p><tag name="div"></tag></p>
            <p><tag name="p"></tag></p>
            <p><tag name="h1...6"></tag></p>
          </div>
        </div>
      </div>
      <div class="card col-md-6">
        <div class="card-body">
          <h4 class="card-title text-center">Блочні</h4>
          <h6 class="card-subtitle text-muted">
            характеризуються тим, що займають всю доступну ширину, висота елемента визначається його вмістом, і він
            завжди починається з нового рядка.
          </h6>
          <br>
          <div class="card-text">
            <p>
              <tag name="div"></tag>
              універсальний блоковий контейнер, використовується для груповання елементів/тегів і надання їм стилів
              і позиціонування на сторінці.
            </p>
            <br>
            <p>
              <tag name="p"></tag>
              Визначає параграф (абзац) тексту
            </p>
            <br>
            <p>
              <tag name="h1...6"></tag>
              Ця група тегів визначає текстові заголовки різного рівня, які показують відносну важливість секції,
              розташованої після заголовка.
            </p>
            <br>
            <p>
              <tag name="hr"></tag>
              Малює горизонтальну лінію
            </p>
          </div>
        </div>
      </div>
      <div class="card col-md-6">
        <div class="card-body">
          <h4 class="card-title text-center">Рядкові</h4>
          <h6 class="card-subtitle text-muted">
            Рядкові елементи є безпосередньою частиною рядка. <br>
            В основному вони використовуються для зміни вигляду тексту або його виділення. <br>
            Декілька рядкових елементів на строрінці розташовуються один за одним.
          </h6>
          <br>
          <div class="card-text">
            <p>
              <tag name="a" [attr]="['target']"></tag>
              є одним з найважливих елементів HTML і призначений для створення посилань.
            </p>
            <br>
            <p>
              <tag name="img" [attr]="['src', 'alt']"></tag>
              призначений для відображення на веб-сторінці зображень в графічному форматі GIF, JPEG або PNG. <br>
              - src - відносний або абсолютний URI зображення (обов'язковий) <br>
              - alt - короткий опис (відображається при відключеному трафіку)
            </p>
            <br>
            <p>
              <tag name="span"></tag>
              контейнер призначений для визначення рядкового елементу всередині документу. використовується для
              виділення окремих слів
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <h4 class="card-title text-center">Типи тегів (за призначенням)</h4>
    <blockquote class="blockquote">
      Теги верхнього рівня (Ці теги призначені для формування структури веб-сторінки і визначають розділ заголовка і
      тіла документа.
      <br>
      <tag name="html" inline="true"></tag>
      <tag name="head" inline="true"></tag>
      <tag name="body" inline="true"></tag>
    </blockquote>
    <blockquote class="blockquote">
      Теги заголовку документу
      <br>
      <tag name="title" inline="true"></tag>
      <tag name="meta" inline="true"></tag>
      <tag name="link" inline="true"></tag>
    </blockquote>

    <blockquote class="blockquote">
      Теги елементу
      <br>
      <tag name="body" inline="true"></tag>
    </blockquote>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header card-header-rose">
    <h2 class="card-title">
      Списки
    </h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="card col-md-6">
        <div class="card-body">
          <h4 class="card-title text-center">
            Ordered list
          </h4>
          <h6 class="card-subtitle">
            встановлює нумерований список, тобто кожен елемент списку починається з числа або літери і збільшується по наростаючій.
          </h6>
          <br>
          <div class="row ">
            <div class="card-text col-md-5">
              <tag name="ol">
                <tag name="li"></tag>
                <tag name="li"></tag>
                <tag name="li"></tag>
              </tag>
            </div>

            <ol class="ol col-md-5">
              <li>list item 1</li>
              <li>list item 2</li>
              <li>list item 3</li>
            </ol>
          </div>

        </div>
      </div>
      <div class="card col-md-6">
        <div class="card-body">
          <h4 class="card-title text-center">
            Unordered list
          </h4>
          <h6 class="card-subtitle">
            Встановлює маркований список, кожен елемент якого починається з невеликого символу - маркера.
          </h6>
          <br>
          <div class="row">
            <div class="card-text col-md-5">
              <tag name="ul">
                <tag name="li"></tag>
                <tag name="li"></tag>
                <tag name="li"></tag>
              </tag>
            </div>

            <ul class="ul col-md-5">
              <li>list item 1</li>
              <li>list item 2</li>
              <li>list item 3</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <p class="card-text">
      <tag name="li"></tag> визначає окремий елемент списку. Зовнішній тег ul або ol встановлює тип списку - маркований або нумерований.
    </p>

    <a href="https://www.w3schools.com/html/html_lists.asp" target="_blank"
       class="btn btn-primary">HTML Lists</a>
  </div>
</div>
