<div class="card">
  <div class="card-header card-header-rose">
    <h2 class="card-title">
      Tag (елемент мови розмітки HTML)
    </h2>
  </div>

  <div class="card-body">
    <blockquote class="blockquote">
      Теги не чутливі до регістру <span class="tag">BR</span> <span class="tag">Br</span> <span
      class="tag">br</span>
    </blockquote>

    <blockquote class="blockquote">
      Якщо який-небудь тег або його атрибут був написаний невірно, то браузер проігнорує подібний тег і буде
      відображати текст так, немов тега і не було.
    </blockquote>

    <blockquote class="blockquote">Щоб розширити можливості окремих тегів і більш гнучко управляти вмістом
      контейнерів застосовуються атрибути тегів.
      <span class="tag">a href=""</span>
    </blockquote>
  </div>

  <div class="card-body">
    <h4 class="card-title text-center">Типи тегів</h4>
    <div class="row">
      <div class="card col-md-6">
        <div class="card-body">
          <h4 class="card-title text-center">Одинарні</h4>
          <div class="card-text">
            <p><span class="tag">img src="" alt=""</span></p>
            <p><span class="tag">br</span></p>
            <p><span class="tag">hr</span></p>
          </div>
        </div>
      </div>
      <div class="card col-md-6">
        <div class="card-body">
          <h4 class="card-title text-center">Парні</h4>
          <div class="card-text">
            <p><span class="tag">div</span>...<span class="tag">/div</span></p>
            <p><span class="tag">p</span>...<span class="tag">/p</span></p>
            <p><span class="tag">h1..6</span>...<span class="tag">/h1..6</span></p>
          </div>
        </div>
      </div>
      <div class="card col-md-6">
        <div class="card-body">
          <h4 class="card-title text-center">Блочні</h4>
          <h6 class="card-subtitle text-muted">
            характеризуються тим, що займають всю доступну ширину, висота елемента визначається його вмістом, і він
            завжди починається з нового рядка.
          </h6>
          <br>
          <div class="card-text">
            <p>
              <span class="tag">div</span>...<span class="tag">/div</span>
              універсальний блоковий контейнер, використовується для груповання елементів/тегів і надання їм стилів
              і позиціонування на сторінці.
            </p>
            <br>
            <p>
              <span class="tag">p</span>...<span class="tag">/p</span>
              Визначає параграф (абзац) тексту
            </p>
            <br>
            <p>
              <span class="tag">h1..6</span>...<span class="tag">/h1..6</span>
              Ця група тегів визначає текстові заголовки різного рівня, які показують відносну важливість секції,
              розташованої після заголовка.
            </p>
            <br>
            <p>
              <span class="tag">hr</span>
              Малює горизонтальну лінію
            </p>
          </div>
        </div>
      </div>
      <div class="card col-md-6">
        <div class="card-body">
          <h4 class="card-title text-center">Рядкові</h4>
          <h6 class="card-subtitle text-muted">
            Рядкові елементи є безпосередньою частиною рядка. <br>
            В основному вони використовуються для зміни вигляду тексту або його виділення. <br>
            Декілька рядкових елементів на строрінці розташовуються один за одним.
          </h6>
          <br>
          <div class="card-text">
            <p>
              <span class="tag">a href=""</span>...<span class="tag">/a</span>
              є одним з найважливих елементів HTML і призначений для створення посилань.
            </p>
            <br>
            <p>
              <span class="tag">img src="" alt=""</span>
              призначений для відображення на веб-сторінці зображень в графічному форматі GIF, JPEG або PNG. <br>
              - src - відносний або абсолютний URI зображення (обов'язковий) <br>
              - alt - короткий опис (відображається при відключеному трафіку)
            </p>
            <br>
            <p>
              <span class="tag">span</span>...<span class="tag">/h1..6</span>
              контейнер призначений для визначення рядкового елементу всередині документу. використовується для
              виділення окремих слів
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <h4 class="card-title text-center">Типи тегів (за призначенням)</h4>
    <blockquote class="blockquote">
      Теги верхнього рівня (Ці теги призначені для формування структури веб-сторінки і визначають розділ заголовка і
      тіла документа.
      <br>
      <span class="tag">html</span>
      <span class="tag">head</span>
      <span class="tag">body</span>
    </blockquote>
    <blockquote class="blockquote">
      Теги заголовку документу
      <br>
      <span class="tag">title</span>
      <span class="tag">meta</span>
      <span class="tag">link</span>
    </blockquote>

    <blockquote class="blockquote">
      Теги елементу
      <br>
      <span class="tag">body</span>
    </blockquote>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header card-header-rose">
    <h2 class="card-title">
      Списки
    </h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="card col-md-6">
        <div class="card-body">
          <h4 class="card-title text-center">
            Ordered list
          </h4>
          <h6 class="card-subtitle">
            встановлює нумерований список, тобто кожен елемент списку починається з числа або літери і збільшується по наростаючій.
          </h6>
          <br>
          <div class="row ">
            <div class="card-text col-md-5">
              <span class="tag">ol</span><br>
              <span class="tag tag-inner">li</span>...<span class="tag">li</span><br>
              <span class="tag tag-inner">li</span>...<span class="tag">li</span><br>
              <span class="tag">/ol</span>
            </div>

            <ol class="ol col-md-5">
              <li>list item 1</li>
              <li>list item 2</li>
              <li>list item 3</li>
            </ol>
          </div>

        </div>
      </div>
      <div class="card col-md-6">
        <div class="card-body">
          <h4 class="card-title text-center">
            Unordered list
          </h4>
          <h6 class="card-subtitle">
            Встановлює маркований список, кожен елемент якого починається з невеликого символу - маркера.
          </h6>
          <br>
          <div class="row">
            <div class="card-text col-md-5">
              <span class="tag">ul</span><br>
              <span class="tag tag-inner">li</span>...<span class="tag">li</span><br>
              <span class="tag tag-inner">li</span>...<span class="tag">li</span><br>
              <span class="tag">/ul</span>
            </div>

            <ul class="ul col-md-5">
              <li>list item 1</li>
              <li>list item 2</li>
              <li>list item 3</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <p class="card-text">
      <span class="tag">li</span> визначає окремий елемент списку. Зовнішній тег ul або ol встановлює тип списку - маркований або нумерований.
    </p>

    <a href="https://www.w3schools.com/html/html_lists.asp" target="_blank"
       class="btn btn-primary">HTML Lists</a>
  </div>
</div>
