
<section>
  <div>
    <h3>
      Одиниці розмірів в CSS
    </h3>
    <h4>
      Давно забуті одиниці:
    </h4>
    <ul class="list">
      <li>1mm (мм) = 3.8px</li>
      <li>1cm (см) = 38px</li>
      <li>1pt (друкарський пункт) = 4/3 px</li>
      <li>1pc (друкарський піку) = 16px</li>
    </ul>
    <br>
    <h4>Піксель (px) - це базова, абсолютна і остаточна одиниця виміру</h4>
    <ul class="list">
      <li>+ чіткість і зрозумілість</li>
      <li>- інші одиниці вимірювання - в деякому сенсі «могутніші», вони є відносними і дозволяють встановлювати співвідношення між різними розмірами</li>
    </ul>
    <!--        < Div  style = " font-size : 24 px " >  страуси
            < Div  style = " font-size : 24 px " > живуть також в Африці </ div >
        </ div >-->
    <br>
    <h4>
      1em - поточний розмір шрифту
    </h4>
    <p>
      Розміри в em - відносні , вони визначаються за поточним контекстом.
    </p>
    <!--        < Div  style = " font-size : 2em " >  страуси
            < Div  style = " font-size : 2em " > живуть також в Африці </ div >
        </ div >-->
    <br>
    <h4>
      Відсотки %
    </h4>
    <p>
      Відсотки % , як і em - відносні одиниці, відсоток буде від такої ж властивості батьківського елементу <br>
      Використовуються для резинової верстки
    </p>
    <!--
    < Div  style = " font-size : 200% " >  страуси
< Div  style = " font-size : 200% " > живуть також в Африці </ div >
</ div >
    -->
    <p>
      Але не коректно працює для:
      margin-left
      line-height
      height
    </p>
    <br>
    <h4>
      Одиниця rem: суміш px і em
    </h4>
    <p>
      Задає розмір щодо розміру шрифту елемента html
    </p>
    <!--        < Div  style = " font-size : 2rem " >  страуси
            < Div  style = " font-size : 2rem " > живуть також в Африці </ div >
        </ div >-->
    <br>
    <h4>
      Одиниці відносно розмірів екрану
    </h4>
    <p>
      У всіх сучасних браузерах, виключаючи IE8-, підтримуються нові одиниці :
    </p>
    <ul class="list">
      <li>vw - 1% ширини вікна</li>
      <li>vh - 1% висоти вікна</li>
      <li>vmin - найменше з ( vw , vh ), в IE9 позначається vm</li>
      <li>vmax - найбільше з ( vw , vh )</li>
    </ul>




  </div>
</section>
